<!DOCTYPE html>
<html>
  <head>
    <title>Path</title>
  </head>
  <body>
    <div style="text-align: center">
      <div  style="margin-top: 70px">
        <h1 style="font-size:49px;">
          <span style="color:rgb(31, 206, 31)">File </span>
          <span style="color:rgb(29, 202, 233)">Upload</span></h1>
    </div>
    <div style="padding: 10px">
      <input type="text" class="form-control">
    </div>
    <div style="padding: 10px">
      <button class="btn btn-primary" (click)="onButtonClick()">Continue</button>
    </div>
  </div>
  </body>
</html>
