<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <button class=" btn btn-primary" (click)="openAddModal()"><i class="fa fa-plus" style="margin-right: 10px;"></i>CREATE KEYWORD</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="datatable">
        <div class="search-div">
          <!-- floatLabel="never" -->
          <mat-form-field class="search-form-field">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <mat-table [dataSource]="listData" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="keywordid">
            <mat-header-cell *matHeaderCellDef mat-sort-header sticky>Keyword ID</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.keywordId}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="keyword">
            <mat-header-cell *matHeaderCellDef mat-sort-header sticky>Keyword</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.keword}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef mat-sort-header sticky>Language</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.language}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef mat-sort-header sticky>Value</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef stickyEnd>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="update(row)">
                <mat-icon>launch</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(row)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Loading Data.....
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No data....
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns" class="datatableheader"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData!=null}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']"
                          [ngClass]="{'hide': !(listData!=null && listData.data.length==0)}">
          </mat-footer-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
