<div class="container">
  <table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Operations</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.fname}}</td>
          <td>{{user.lname}}</td>
          <td>
              <button class="btn btn-danger btn-space" (click)="deleteUser(user)">Delete</button>
              <button class="btn btn-primary btn-space" (click)="updateUser(user)">Edit</button>
          </td>

        </tr>
    </tbody>
  </table>
  <td><button class="btn btn-primary" (click)="newUser()">New User</button></td>
</div>
